body {
    /* background-image: "/../"; */
    background-image: url("../img/bg.png");
    font-size: 20px;
}

img {
    margin-top: 15px;
    position: relative;
    float: left;
    /* clear: left; */
}

#cryst-one {
    clear: left;
}

#game-title {
    clear: left;
    background: darkorange;
    color: white;
    width: 270px;
    padding: 25px;
    margin: 12px;
}

#instructions {
    margin: 12px;
    width: 320px;
    height: 185px;
    background: beige;
    color: green;
    position: relative;
    font-size: 12px;
}

#target-score {
    clear: left;
    float: left;
    position: relative;
    /* margin-top: 25px; */
    clear: left;
    width: 170px;
    height: 80px;
    background: #ccc;
    padding: 15px;
}   

#win-loss {
    padding: 15px;
    float: left;
    /* clear: left; */
    background: turquoise;
    width: 170px;
    height: 80px;
}

#your-total-score, #user-score {
    float: left;
    clear: both;
    background: teal;
}

#user-score {
    position: relative;
    clear: left;
    width: 170px;
    height: 80px;
    padding: 20px;
}